In [71]:
from pyspark.sql.functions import udf
from pyspark.sql.types import DecimalType

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [5]:
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row

In [40]:
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)
# spark.conf.set('spark.sql.repl.eagerEval.maxNumRows', 10)

In [35]:
countries = pd.read_csv('best-countries-to-live-in-2024.csv')

In [37]:
df = spark.createDataFrame(countries)

In [41]:
df

+---------------+---------------------+---------+-------------+-------------+--------+------------------+--------------------+--------------------+-------+-------+------------------+
|population_2024|population_growthRate|land_area|      country|       region|unMember|population_density|population_densityMi|       share_borders|Hdi2021|Hdi2020|WorldHappiness2022|
+---------------+---------------------+---------+-------------+-------------+--------+------------------+--------------------+--------------------+-------+-------+------------------+
|     1441719852|              0.00916|  3287590|        India|         Asia|    true|          484.9067|           1255.9084|AFG, BGD, BTN, MM...|  0.633|  0.642|             3.777|
|     1425178782|              -3.5E-4|  9706961|        China|         Asia|    true|          151.2174|             391.653|AFG, BTN, MMR, HK...|  0.768|  0.764|             5.585|
|      341814420|              0.00535|  9372610|United States|North America|    true|           37.3673|             96.7813|            CAN, MEX|  0.921|   0.92|             6.977|
|      279798049|              0.00816|  1904569|    Indonesia|         Asia|    true|          149.0254|            385.9758|       TLS, MYS, PNG|  0.705|  0.709|              5.24|
|      245209815|              0.01964|   881912|     Pakistan|         Asia|    true|          318.0908|            823.8551|  AFG, CHN, IND, IRN|  0.544|  0.543|             4.516|
|      229152217|              0.02389|   923768|      Nigeria|       Africa|    true|          251.6027|            651.6511|  BEN, CMR, TCD, NER|  0.535|  0.535|             4.552|
|      217637297|              0.00561|  8515767|       Brazil|South America|    true|            26.039|             67.4409|ARG, BOL, COL, GU...|  0.754|  0.758|             6.293|
|      174701211|               0.0101|   147570|   Bangladesh|         Asia|    true|         1342.1004|           3476.0401|            MMR, IND|  0.661|  0.655|             5.155|
|      143957079|             -0.00337| 17098242|       Russia|       Europe|    true|            8.7903|             22.7668|AZE, BLR, CHN, ES...|  0.829|   0.83|             5.459|
|      129719719|              0.02523|  1104300|     Ethiopia|       Africa|    true|          114.9415|            297.6986|DJI, ERI, KEN, SO...|  0.498|  0.498|             4.241|
+---------------+---------------------+---------+-------------+-------------+--------+------------------+--------------------+--------------------+-------+-------+------------------+
only showing top 10 rows

In [58]:
description = df.select('population_2024').describe()

In [57]:
countries.population_2024.mean()

54221566.312056735

In [69]:
description.withColumn('average_population', description.population_2024.cast(DecimalType(18, 2)))

+-------+--------------------+------------------+
|summary|     population_2024|average_population|
+-------+--------------------+------------------+
|  count|                 141|            141.00|
|   mean|5.4221566312056735E7|       54221566.31|
| stddev| 1.749363379232842E8|      174936337.92|
|    min|              377689|         377689.00|
|    max|          1441719852|     1441719852.00|
+-------+--------------------+------------------+

In [72]:
def doble_int(i):
    return i * 2

In [74]:
doublee = udf(doble_int)

In [85]:
df_2 = df.withColumn('double_population_2024', doublee(df.population_2024))

In [89]:
df_2.select(df_2.double_population_2024)

+----------------------+
|double_population_2024|
+----------------------+
|            2883439704|
|            2850357564|
|             683628840|
|             559596098|
|             490419630|
|             458304434|
|             435274594|
|             349402422|
|             287914158|
|             259439438|
+----------------------+
only showing top 10 rows

In [98]:
df.groupby('region').sum().sort('sum(population_2024)', ascending=False)

+-------------+--------------------+--------------------------+--------------+-----------------------+-------------------------+------------------+------------------+-----------------------+
|       region|sum(population_2024)|sum(population_growthRate)|sum(land_area)|sum(population_density)|sum(population_densityMi)|      sum(Hdi2021)|      sum(Hdi2020)|sum(WorldHappiness2022)|
+-------------+--------------------+--------------------------+--------------+-----------------------+-------------------------+------------------+------------------+-----------------------+
|         Asia|          4608129325|       0.34723000000000004|      29767586|     25762.240599999997|               66724.2031|28.939999999999998|            28.943|     205.88800000000003|
|       Africa|          1275733894|                   0.85272|      24093018|              4758.1548|               12323.6213|22.735999999999997|22.826999999999998|     180.57600000000002|
|       Europe|           740714696|                  -0.06647|      23007554|      6241.408100000001|               16165.2468|            35.163|35.120999999999995|                258.544|
|North America|           577000005|       0.09861999999999999|      21880629|              1405.1227|                3639.2676|             8.295| 8.283000000000001|      69.17699999999999|
|South America|           411693509|                    0.0651|      16442441|     266.22180000000003|        689.5142000000001|             6.923| 6.943999999999999|      52.95700000000001|
|      Oceania|            31969421|      0.017849999999999998|       7962491|                23.4853|       60.826899999999995|             1.888|             1.883|                 14.362|
+-------------+--------------------+--------------------------+--------------+-----------------------+-------------------------+------------------+------------------+-----------------------+