In [71]:
from pyspark.sql.functions import udf
from pyspark.sql.types import DecimalType

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [5]:
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row

In [40]:
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)
# spark.conf.set('spark.sql.repl.eagerEval.maxNumRows', 10)

In [102]:
# countries = pd.read_csv('best-countries-to-live-in-2024.csv')

In [103]:
# df = spark.createDataFrame(countries)

In [106]:
df = spark.read.csv('best-countries-to-live-in-2024.csv', header=True)

In [108]:
description = df.select('population_2024').describe()

In [109]:
countries.population_2024.mean()

54221566.312056735

In [110]:
description.withColumn('average_population', description.population_2024.cast(DecimalType(18, 2)))

+-------+--------------------+------------------+
|summary|     population_2024|average_population|
+-------+--------------------+------------------+
|  count|                 141|            141.00|
|   mean|5.4221566312056735E7|       54221566.31|
| stddev|1.7493633792328423E8|      174936337.92|
|    min|            10223349|       10223349.00|
|    max|             9994993|        9994993.00|
+-------+--------------------+------------------+

In [111]:
def doble_int(i):
    return i * 2

In [112]:
doublee = udf(doble_int)

In [113]:
df_2 = df.withColumn('double_population_2024', doublee(df.population_2024))

In [114]:
df_2.select(df_2.double_population_2024)

+----------------------+
|double_population_2024|
+----------------------+
|  14417198521441719852|
|  14251787821425178782|
|    341814420341814420|
|    279798049279798049|
|    245209815245209815|
|    229152217229152217|
|    217637297217637297|
|    174701211174701211|
|    143957079143957079|
|    129719719129719719|
+----------------------+
only showing top 10 rows

In [119]:
df

+---------------+---------------------+---------+-------------+-------------+--------+------------------+--------------------+--------------------+-------+-------+------------------+
|population_2024|population_growthRate|land_area|      country|       region|unMember|population_density|population_densityMi|       share_borders|Hdi2021|Hdi2020|WorldHappiness2022|
+---------------+---------------------+---------+-------------+-------------+--------+------------------+--------------------+--------------------+-------+-------+------------------+
|     1441719852|              0.00916|  3287590|        India|         Asia|    TRUE|          484.9067|           1255.9084|AFG, BGD, BTN, MM...|  0.633|  0.642|             3.777|
|     1425178782|             -0.00035|  9706961|        China|         Asia|    TRUE|          151.2174|             391.653|AFG, BTN, MMR, HK...|  0.768|  0.764|             5.585|
|      341814420|              0.00535|  9372610|United States|North America|    TRUE|           37.3673|             96.7813|            CAN, MEX|  0.921|   0.92|             6.977|
|      279798049|              0.00816|  1904569|    Indonesia|         Asia|    TRUE|          149.0254|            385.9758|       TLS, MYS, PNG|  0.705|  0.709|              5.24|
|      245209815|              0.01964|   881912|     Pakistan|         Asia|    TRUE|          318.0908|            823.8551|  AFG, CHN, IND, IRN|  0.544|  0.543|             4.516|
|      229152217|              0.02389|   923768|      Nigeria|       Africa|    TRUE|          251.6027|            651.6511|  BEN, CMR, TCD, NER|  0.535|  0.535|             4.552|
|      217637297|              0.00561|  8515767|       Brazil|South America|    TRUE|            26.039|             67.4409|ARG, BOL, COL, GU...|  0.754|  0.758|             6.293|
|      174701211|               0.0101|   147570|   Bangladesh|         Asia|    TRUE|         1342.1004|           3476.0401|            MMR, IND|  0.661|  0.655|             5.155|
|      143957079|             -0.00337| 17098242|       Russia|       Europe|    TRUE|            8.7903|             22.7668|AZE, BLR, CHN, ES...|  0.829|   0.83|             5.459|
|      129719719|              0.02523|  1104300|     Ethiopia|       Africa|    TRUE|          114.9415|            297.6986|DJI, ERI, KEN, SO...|  0.498|  0.498|             4.241|
+---------------+---------------------+---------+-------------+-------------+--------+------------------+--------------------+--------------------+-------+-------+------------------+
only showing top 10 rows

In [124]:
df.population_2024 = df.population_2024.cast(DecimalType(18))

In [137]:
df = df.withColumn('population_2024', df.population_2024.cast((DecimalType(18))))

In [138]:
df.groupby('region').sum().sort('sum(population_2024)', ascending=False)

+-------------+--------------------+
|       region|sum(population_2024)|
+-------------+--------------------+
|         Asia|          4608129325|
|       Africa|          1275733894|
|       Europe|           740714696|
|North America|           577000005|
|South America|           411693509|
|      Oceania|            31969421|
+-------------+--------------------+